## Managed by Ansible (roles/proxy). certbot --nginx edits this file in place
## to add the 443/SSL server block and the HTTP->HTTPS redirect below --
## don't hand-edit those parts, a re-run of this template would overwrite
## everything except what certbot itself added after the fact.
server {
    listen 80;
    server_name {{ bastion_hostname }};

    location / {
        proxy_pass http://{{ app_upstream_host }}:{{ app_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
